.vs/
.vscode/
*.user
*.suo

bin/
obj/
out/
project.lock.json
project.fragment.lock.json
artifacts/

*.log

packages/
*.nupkg

.idea/
*.sln.iml

*.tmp
*.temp
*.bak

*.local
*.swp

publish/

secrets.json

TestResults/
coverage/
*.coverage
*.coveragexml
*.testsettings

.DS_Store
*.AppleDouble
*.LSOverride

*~

._*

.netlify/

Thumbs.db
ehthumbs.db
desktop.ini

*.gpState

_ReSharper*/
*.[Rr]e[Ss]harper

.sonar/

.vscode/

.idea/
*.dotCover
